.bg-testimonial {
  background-color: white;
  height: 80vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.h1-t {
  font-size: 24pt;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 120px;
}