.h1-about {
    color: rgb(255, 255, 255);
    font-size: 22pt;
    font-weight: 500;
    margin-top: 40px;
    text-align: center;
}

.p-about {
    color: white;
    font-size: 11pt;
    margin: 30px;
}

.img-about {
    width: 90px;
    margin-bottom:30px;
}