.button-generic {
  background-color: #09CDF8 !important;
  color: white;
  font-weight: 600;
  width: 60vw;
  height: 5vh;
  margin-top: 15px;
  text-align: center;
  line-height: 5vh;
  border-radius: 10px;
  text-decoration: none;
}

.social-media {
  font-size: 20pt;
  margin: 10px;
  color: white;
}

.social-media:hover {
  color: #4abfed;
}

.p-slogan {
  color: white;
  font-weight: 600;
  font-size: 14pt;
}

.h1-slogan {
  color: #09CDF8;
  font-weight: 600;
}